.admin-panel {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F8FF;
}

.apartment-panel {
    background-color: #FFFFFF;
    width: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    min-height: 500px;
    border-radius: 10px;
}

.apartment-panel h1 {
    color: #F0F8FF;
    shadow: 0 0 10px #F0F8FF;
}

.apartment-panel tr {
    margin: 10px;
}

.apartments th {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: underline;
}

.apartments td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}