.property-panel {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.property-panel h1 {
  color: #f0f8ff;
  shadow: 0 0 10px #f0f8ff;
}

.property-panel table {
  corner-radius: 10px;
  color: #f0f8ff;
  background-color: rgba(0, 188, 203, 0.5);
  -webkit-filter: drop-shadow(1px 1px 1px #10123c);
  filter: drop-shadow(1px 1px 1px #10123c);
  box-shadow: 0px 0 0 2px rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 10px;
}

.column-header {
  background-color: #f0f8ff;
  color: #10123c;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.column-header,
.column {
  display: center;
  word-wrap: break-word;
  max-width: 250px;
}
