.icon-with-value {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.7);
  font-family: "Comfortaa", sans-serif;
  width: 50px;
  height: 25px;
  border-radius: 5px;
  color: white;
  -webkit-filter: drop-shadow(1px 1px 2px #10123c);
  filter: drop-shadow(1px 1px 2px #10123c);
}

.value {
  margin-top: 2px;
  font-size: 12px;
}

.icon-with-value b i {
  font-size: 10px;
}
